<div class="container">
    <h2>Authors table</h2>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Name</th>
            <th>Second name</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat='author in aCtrl.authors'>
            <td ng-bind='author.name'></td>
            <td ng-bind='author.secondName'></td>
            <td>
                <a ng-href="#/books_of_author/{{author.id}}">Books</a>
                <div ng-show="hasRole('ROLE_ADMIN')">
                    <a href="#">Modify</a>
                    <a ng-click = "deleteAuthor('{{author.id}}')" href="#">Delete</a>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>