<div class="container">
    <h2>Authors table</h2>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Name</th>
            <th>Second name</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat='author in aCtrl.authors'>
            <td ng-bind='author.firstName'></td>
            <td ng-bind='author.lastName'></td>
            <td>
                <a ng-href="#/books_of_author/{{author.idAuthor}}">Books</a>
                <div ng-show="hasRole('ROLE_ADMIN')">
                    <a href="#/modify_author/{{author.idAuthor}}">Modify</a>
                    <button class="btn btn-primary" ng-click = "aCtrl.deleteAuthor(author.idAuthor)">Delete</button>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>