<div class="container">
    <h2>Books of author</h2>
    <table class="table table-bordered">
        <thead>
        <tr>
            <td>Title</td>
            <td>Short description</td>
            <td>Publishing year</td>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat = "book in bOfACtrl.books">
            <td ng-bind = 'book.title'></td>
            <td ng-bind = 'book.shortDescription'></td>
            <td ng-bind = 'book.datePublish'></td>
        </tr>
        </tbody>
    </table>
</div>