<div class="container">
    <h2>Books table</h2>
    <table class="table table-bordered">
        <thead>
        <tr>
            <td>Title</td>
            <td>Short description</td>
            <td>Publishing year</td>
            <td>Authors</td>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat = "book in bCtrl.books | orderBy: 'datePublish'">
            <td ng-bind = 'book.title'></td>
            <td ng-bind = 'book.shortDescription'></td>
            <td ng-bind = 'book.datePublish'></td>
            <td ng-repeat = 'author in book.authors'>
                <span ng-bind = 'author.name'></span> <span ng-bind = 'author.secondName'></span>
            </td>
        </tr>
        </tbody>
    </table>
</div>