<div id="head_of_table">
    <a href="#/create_book.html">New book</a>
    <h1>Books list</h1>
</div>
<div id="books_table">
    <table>
        <tr>
            <td>Title</td>
            <td>Short description</td>
            <td>Publishing year</td>
            <td>Authors</td>
        </tr>
        <tr ng-repeat = "book in bCtrl.books | orderBy: 'datePublish'">
            <td ng-bind = 'book.title'></td>
            <td ng-bind = 'book.shortDescription'></td>
            <td ng-bind = 'book.datePublish'></td>
            <td ng-repeat = 'author in book.authors'>
                <span ng-bind = 'author.name'></span> <span ng-bind = 'author.secondName'></span>
            </td>
        </tr>
    </table>
</div>