<div>
    <form ng-submit='nBCtrl.createBook()'>
        <table class="table">
            <tr>
                <td>Title</td>
                <td><input type="text" ng-model = 'nBCtrl.newBook.title'></td>
            </tr>
            <tr>
                <td>Short description</td>
                <td><input type="text" ng-model = 'nBCtrl.newBook.shortDescription'></td>
            </tr>
            <tr>
                <td>Publish date</td>
                <td><input type="text" ng-model = 'nBCtrl.newBook.datePublish'></td>
            </tr>
            <tr>
                <td>Authors</td>
                <td>
                    <label ng-repeat = "author in nBCtrl.authors">
                        <input type="checkbox" checklist-model="nBCtrl.newBook.authors" checklist-value="author.idAuthor"> {{author.fullName}}
                    </label><br>
                </td>
            </tr>
            <tr>
                <td><input type="submit" value="Submit"></td>
            </tr>
        </table>
    </form>
</div>