<div>
    <form ng-submit='nACtrl.createBook()'>
        <table class="table">
            <tr>
                <td>First name</td>
                <td><input type="text" ng-model = 'nBCtrl.author.firstName'></td>
            </tr>
            <tr>
                <td>Second name</td>
                <td><input type="text" ng-model = 'nBCtrl.author.secondName'></td>
            </tr>
            <select ng-model='selectedAuthors' ng-options='author.idAuthor as author.fullName for author in nBCtrl.authors'>
            </select>
            <input type="submit" value="Submit">
        </table>
    </form>
</div>