<div>
    <div ng-show = 'error'>There was a problem logging in. Please try again.</div>
    <form ng-submit = 'login()'>
        <table>
            <tr>
                <td>Login</td>
                <td><input type="text" name="username" ng-model = 'username'></td>
            </tr>
            <tr>
                <td>Password</td>
                <td><input type="password" name="password" ng-model = 'password'></td>
            </tr>
        </table>
        <input type="submit" value="Log in">
    </form>
</div>