<div>
    <form id="modify_author_form" >
        <div>
            <input name="id_book" type="hidden" ng-model="{{author.id}}">
            <table class="tables">
                <tr>
                    <td><h2>Fill in the required fields and push enter</h2></td>
                    <td><input value="Submit" ng-click="modifyAuthor()"></td>
                </tr>
            </table>
        </div>
        <table class="tables">
            <tr>
                <td><h3>Name</h3></td>
                <td><input maxlength="45" ng-model = "author.name" /></td>
            </tr>
            <tr>
                <td><h3>Second name</h3></td>
                <td><input maxlength="45" ng-model = "author.secondName"/></td>
            </tr>
        </table>
    </form>
</div>